form {
  width: 500px;
  background:  #E3B579;
  padding: 20px 25px;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  margin-bottom: 40px;
}
form input,
form textarea {
  
    font-size: 30px;
   font-weight: 300px;
   color:#E3B579;
  padding: 5px 5px;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 15px;
  box-sizing: border-box;

}

.form-control {
    background-color: #E6F4F1 ;
}
form button {
  border: 1px solid rgba(0,0,0,0.2);
  padding: 8px 35px;
  font-size: 12px;
  background: #888;
  color: white;
}
form label {
  color: #777;
  font-size: 11px;
  margin-bottom: 2px;
  display: block;
}

.contact-heading {
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 60px;
}


.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #081B19;;
    color: #fafafa;
}

 
