
/*-stylying of the map element--*/
#map{
    height: 100%;
    background-clip: black;
}

/*---style for the search bar on the map ---*/
#pac-input{z-index: 0;
    position: absolute;
    left: 189px;
    top: 0px;
    margin-top: 10px;
    font-size: 20px;
     font-family: "Architects Daughter",sans-serif;
     color:  #081B19;

}

@media only screen and (max-width: 768px){
    #pac-input{
        font-size: 8px;
    }
}
/* ----- this styles the marker box----*/
.gm-style .gm-style-iw {
    font-weight: 400;
    font-size: 20px;
    overflow: hidden;
  font-family: "Architects Daughter",sans-serif;
     color:  #081B19;
    border-radius: 30px;
}

 html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
      background-color: #081B19;
    }
/*-style of the side pannel--*/
 #panel {
      margin-top: 100px;
    height: auto;
      background-color: #081B19;
      position: absolute;
      z-index: 1;
      overflow-x: hidden;
      transition: all .2s ease-out;
      width:25%;
       
    }
@media only screen and (max-width: 768px){
    #panel {
      height: auto;
      width:fit-content;
      position: relative;
      
    }
}
.open {
      width: 250px;
    }

 .hero {
      width: 100%;
      height: auto;
      max-height: 166px;
      display: block;
    }

    .place,
    p {
      font-family: 'Playfair Display', arial, sans-serif;
      padding-left: 18px;
      padding-right: 18px;
      color:  #E3B579;
    }

    .details {
     color:  #E3B579;
    }

    a {
      text-decoration: none;
      color: cadetblue;
    }


   