@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Playfair+Display&display=swap');



/*----------------These are the navbar styles_-------*/



.navbar{
    font-size: 30px;
    background-color: #081B19;
}

/*--https://stackoverflow.com/questions/30155699/bootstrap-navbar-font-change-inquiry--*/
.navbar a{
    font-family: "Architects Daughter",sans-serif !important;
    color:  #E3B579 !important;
}

.navbar-brand{
    font-family: "Architects Daughter",sans-serif;
    font-size: 50px;
    
}
.navbar-light .navbar-brand {
    color: #E3B579 !important;
}

/*----------------These are the image styles note i have changed the image style 
                   on media screens less than 768px
-------*/

.full-image {
    height:400px;
    width:100%;
    
    
}

@media only screen and (max-width: 768px) {
  
  .full-image {
    height: 200px;
    padding-right: 0;
  }

  
}

/*----------------These are the footer styles_-------*/

footer {
    background-color: black;
    min-height: 120px;
    padding-right: 0;
    margin-right: 0;

}

.footer-text{
    font-family: "Architects Daughter",sans-serif;
     color: #E3B579;
     text-align: center;
     padding: 20px;
}

/*----------------These are the index.html styles-------*/

.header {
     font-family: "Architects Daughter",sans-serif;
    text-align: center;
    font-size: 50px;
    color: #E3B579;
    background-color: #081B19;
}

.about-text{
    font-family: "Playfair Display",sans-serif;
    text-align: center;
    font-size: 50px;
    color: #E3B579;
    background-color: #081B19;
}

.background-color{
    background-color: #081B19;
}

.child-Friendly-image{
     background: url(../images/child-friendly.jpg);
     height: auto, fit-content; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    padding-right: 40px;
    width: 100%;
    border-radius: 60%;
    margin-top: 60px;
    box-shadow: 15px 15px 15px  #E3B579;
}

.Dog-Friendly-image{
     background: url(../images/dog-friendly.jpg);
     height: auto, fit-content; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    padding-right: 40px;
    width: 100%;
    border-radius: 60%;
    margin-top: 60px;
    box-shadow: 15px 15px 15px  #E3B579;
   
}

.padding{
    padding-bottom: 30px;
}

h4 {
     font-family: "Architects Daughter",sans-serif;
    padding-top: 250px;
    font-size: 50px;
    
}

/*----------------Note i have changed the styles of elements to make the page more apealing to phone users-------*/
@media only screen and (max-width: 768px) {
    h4 {
        padding-top: 20px;
    }

    .child-Friendly-image{
         background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 360px;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  border-radius: 50%;
  margin-top: 10px;
  box-shadow: none;
  
    }

    .Dog-Friendly-image{
        background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 360px;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  border-radius: 50%;
  margin-top: 10px;
  box-shadow: none;
    }
}

 